main {
    width: 150px;
    text-align: center;
}
article {
	margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;
    grid-gap: 10px;
}
article div {
    border: 1px solid gray;
    border-radius: 50%;
}
.box {
    padding: 10px;
}
.ujra {
    margin: 20px;
    padding: 5px 20px;
    border-radius: 10px;
}
